In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('players.csv')
df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.position

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position, Length: 595, dtype: object

In [4]:
df.sort_values('position')
# sort by letters in position

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
465,Zabavnuek,Slovakia,defender,268,1,94,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,Puyol,Spain,defender,534,3,254,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,Pique,Spain,defender,540,2,402,15,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,Boulahrouz,Netherlands,defender,180,0,81,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Terry,England,defender,360,2,223,3,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,Romaric,Ivory Coast,midfielder,98,5,82,4,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,Kader Keita,Ivory Coast,midfielder,94,2,48,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Pirlo,Italy,midfielder,34,0,28,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Appiah,Ghana,midfielder,105,1,54,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Creating categorical column

In [5]:
pd.Categorical(df.position)

['midfielder', 'defender', 'midfielder', 'defender', 'goalkeeper', ..., 'midfielder', 'goalkeeper', 'forward', 'defender', 'midfielder']
Length: 595
Categories (4, object): ['defender', 'forward', 'goalkeeper', 'midfielder']

In [6]:
df.position.astype('category')

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position, Length: 595, dtype: category
Categories (4, object): ['defender', 'forward', 'goalkeeper', 'midfielder']

# Ordered categorical

In [7]:
pd.Categorical(df.position, ordered=True)

['midfielder', 'defender', 'midfielder', 'defender', 'goalkeeper', ..., 'midfielder', 'goalkeeper', 'forward', 'defender', 'midfielder']
Length: 595
Categories (4, object): ['defender' < 'forward' < 'goalkeeper' < 'midfielder']

In [8]:
pos_cat = pd.Categorical(df.position, ordered=True,
               categories=['goalkeeper', 'defender', 'midfielder', 'forward'])

In [9]:
df['pos_cat'] = pos_cat
df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,pos_cat
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,midfielder
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,defender
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,midfielder
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,defender
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,midfielder
591,Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
592,Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,forward
593,Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,defender
594,Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,midfielder

In [10]:
df.sort_values('pos_cat')

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,pos_cat
330,Stekelenburg,Netherlands,goalkeeper,540,0,149,0,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
204,Kingson,Ghana,goalkeeper,510,0,105,1,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
260,Marchetti,Italy,goalkeeper,225,0,21,0,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
54,Schwarzer,Australia,goalkeeper,270,0,51,0,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
385,Ri Myong-Guk,North Korea,goalkeeper,270,0,46,0,19,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,goalkeeper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,Zigic,Serbia,forward,227,5,65,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,forward
181,Klose,Germany,forward,356,11,83,4,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,forward
180,Kiessling,Germany,forward,7,0,5,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,forward
200,Gyan,Ghana,forward,501,27,151,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,forward
297,Okazaki,Japan,forward,104,4,15,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,forward

# Handling Categorical Data

In [11]:
df.pos_cat.cat.categories
# use cat.categories

Index(['goalkeeper', 'defender', 'midfielder', 'forward'], dtype='object')

In [12]:
df.pos_cat.cat.add_categories('manager')

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: pos_cat, Length: 595, dtype: category
Categories (5, object): ['goalkeeper' < 'defender' < 'midfielder' < 'forward' < 'manager']

In [13]:
df.pos_cat.cat.remove_categories('goalkeeper')

0      midfielder
1        defender
2      midfielder
3        defender
4             NaN
          ...
590    midfielder
591           NaN
592       forward
593      defender
594    midfielder
Name: pos_cat, Length: 595, dtype: category
Categories (3, object): ['defender' < 'midfielder' < 'forward']

In [14]:
df.pos_cat.cat.reorder_categories(
    ['forward', 'midfielder', 'defender', 'goalkeeper']
)

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: pos_cat, Length: 595, dtype: category
Categories (4, object): ['forward' < 'midfielder' < 'defender' < 'goalkeeper']

In [15]:
df.pos_cat.cat.as_unordered()

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: pos_cat, Length: 595, dtype: category
Categories (4, object): ['goalkeeper', 'defender', 'midfielder', 'forward']